---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=433f11392883373ef8839e0e48152d50&exclude=minutely&lat=39.74&lon=105.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":105,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1642467129,"sunrise":1642465086,"sunset":1642500122,"temp":267.39,"feels_like":262.98,"pressure":1027,"humidity":45,"dew_point":258.42,"uvi":0.19,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":269,"wind_gust":2.74,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1642464000,"temp":267.31,"feels_like":262.52,"pressure":1027,"humidity":46,"dew_point":258.58,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.11,"wind_deg":272,"wind_gust":3.04,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642467600,"temp":267.39,"feels_like":262.98,"pressure":1027,"humidity":45,"dew_point":258.42,"uvi":0.19,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":269,"wind_gust":2.74,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1642471200,"temp":267.69,"feels_like":263.77,"pressure":1027,"humidity":44,"dew_point":258.45,"uvi":0.65,"clouds":0,"visibility":10000,"wind_speed":2.41,"wind_deg":269,"wind_gust":2.35,"weather":[{"id":800,[...]
