---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.088 TT 0 0.091"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL17081407W",
                    "type": "work",
                    "seed": [
                        "/books/OL25651789M",
                        "/works/OL17081407W",
                        "/subjects/malt_shop_era",
                        "/subjects/catholic",
                        "/subjects/young_girls",
                        "/subjects/widower_raises_children_in_the_40's_&_50's",
                        "/subjects/lenora_mattingly_weber",
                        "/subjects/family",
                        "/subjects/person:beanie_malone",
                        "/subjects/place:denver_co",
                        "/subjects/time:during_world_war_2",
                        "/subjects/time:1942",
                        "/authors/OL1509731A"
                    ],
                    "title": "Meet the Malones",
                    "title_suggest": "Meet the Malones",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL25651789M"
                    ],
                    "publish_date": [
                        "new - Image Cascade Publishing, 1999"
                    ],
                    "publish_year": [
                        1999
                    ],
                    "first_publish_year": 1999,
                    "last_modified_i": 1423266913,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL25651789M",
                    "cover_i": 7322371,
                    "publisher": [
                        "original -Thomas Y. Crowell Co., 1943"
                    ],
                    "author_key": [
                        "OL1509731A"
                    ],
                    "author_name": [
                        "Lenora Mattingly Weber"
                    ],
                    "person": [
                        "Beanie Malone"
                    ],
                    "place": [
                        "Denver Co"
                    ],
                    "subject": [
                        "malt shop era",
                        "Catholic",
                        "young girls",
                        "widower raises children in the 40's & 50's",
                        "Lenora Mattingly Weber",
                        "family"
                    ],
                    "time": [
                        "during World War 2",
                        "1942"
                    ],
                    "publisher_facet": [
                        "original -Thomas Y. Crowell Co., 1943"
                    ],
                    "person_key": [
                        "beanie_malone"
                    ],
                    "place_key": [
                        "denver_co"
                    ],
                    "time_facet": [
                        "1942",
                        "during World War 2"
                    ],
                    "person_facet": [
                        "Beanie Malone"
                    ],
                    "subject_facet": [
                        "Catholic",
                        "Lenora Mattingly Weber",
                        "family",
                        "malt shop era",
                        "widower raises children in the 40's & 50's",
                        "young girls"
                    ],
                    "_version_": 1715079982862041089,
                    "place_facet": [
                        "Denver Co"
                    ],
                    "author_facet": [
                        "OL1509731A Lenora Mattingly Weber"
                    ],
                    "subject_key": [
                        "catholic",
                        "family",
                        "lenora_mattingly_weber",
                        "malt_shop_era",
                        "widower_raises_children_in_the_40's__50's",
                        "young_girls"
                    ],
                    "time_key": [
                        "1942",
                        "during_world_war_2"
                    ]
                },
                {
                    "key": "/works/OL16714280W",
                    "type": "work",
                    "seed": [
                        "/books/OL25384176M",
                        "/works/OL16714280W",
                        "/subjects/social_conditions",
                        "/subjects/denver_health",
                        "/subjects/hospitals",
                        "/subjects/history",
                        "/subjects/place:denver_(co.)",
                        "/subjects/place:colorado",
                        "/subjects/place:denver",
                        "/authors/OL1431564A"
                    ],
                    "title": "Healers and hellraisers",
                    "title_suggest": "Healers and hellraisers",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL25384176M"
                    ],
                    "publish_date": [
                        "2011"
                    ],
                    "publish_year": [
                        2011
                    ],
                    "first_publish_year": 2011,
                    "number_of_pages_median": 188,
                    "lccn": [
                        "2011923576"
                    ],
                    "publish_place": [
                        "Denver, CO"
                    ],
                    "lcc": [
                        "RA-0982.00000000.D372 D378 2011"
                    ],
                    "isbn": [
                        "9780615423906",
                        "0615423906"
                    ],
                    "last_modified_i": 1602960526,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Denver Health Foundation"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1431564A"
                    ],
                    "author_name": [
                        "Eileen Welsome"
                    ],
                    "place": [
                        "Denver (Co.)",
                        "Colorado",
                        "Denver"
                    ],
                    "subject": [
                        "Social conditions",
                        "Denver Health",
                        "Hospitals",
                        "History"
                    ],
                    "publisher_facet": [
                        "Denver Health Foundation"
                    ],
                    "place_key": [
                        "colorado",
                        "denver",
                        "denver_(co.)"
                    ],
                    "subject_facet": [
                        "Denver Health",
                        "History",
                        "Hospitals",
                        "Social conditions"
                    ],
                    "_version_": 1715079499324850176,
                    "place_facet": [
                        "Colorado",
                        "Denver",
                        "Denver (Co.)"
                    ],
                    "lcc_sort": "RA-0982.00000000.D372 D378 2011",
                    "author_facet": [
                        "OL1431564A Eileen Welsome"
                    ],
                    "subject_key": [
                        "denver_health",
                        "history",
                        "hospitals",
                        "social_conditions"
                    ]
                },
                {
                    "key": "/works/OL16800110W",
                    "type": "work",
             [...]
[...]
