---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=e8LAcovQ3ELnpjGOF5yBpATUckArW1lG&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 18:20:43 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=e8LAcovQ3ELnpjGOF5yBpATUckArW1lG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1260013996"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=e8LAcovQ3ELnpjGOF5yBpATUckArW1lG&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1551200058"}]}]}'
  recorded_at: Tue, 18 Jan 2022 18:20:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=433f11392883373ef8839e0e48152d50&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1642530002,"sunrise":1642515466,"sunset":1642550557,"temp":280.85,"feels_like":280.85,"pressure":1009,"humidity":36,"dew_point":267.45,"uvi":1.15,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":188,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1642528800,"temp":280.85,"feels_like":279.79,"pressure":1009,"humidity":36,"dew_point":267.45,"uvi":1.15,"clouds":100,"visibility":10000,"wind_speed":1.87,"wind_deg":211,"wind_gust":1.92,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642532400,"temp":280.93,"feels_like":280.37,"pressure":1009,"humidity":35,"dew_point":267.19,"uvi":1.62,"clouds":100,"visibility":10000,"wind_speed":1.41,"wind_deg":224,"wind_gust":1.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642536000,"temp":281.55,"feels_like":281.55,"pressure":1008,"humidity":33,"dew_point":267,"uvi":1.45,"clouds":100,"visibility":10000,"wind_speed":0.66,"wind_deg":259,"wind_gust":0.84,"weather":[{"i[...]
[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        <html><body><h1>503 Service Unavailable</h1>
        No server is available to handle this request.
        </body></html>
  recorded_at: Tue, 18 Jan 2022 18:20:55 GMT
recorded_with: VCR 6.0.0
