---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=433f11392883373ef8839e0e48152d50&exclude=minutely&lat=39.74&lon=105.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":105,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1642390464,"sunrise":1642378713,"sunset":1642413655,"temp":267.66,"feels_like":264.06,"pressure":1034,"humidity":49,"dew_point":259.6,"uvi":1.26,"clouds":69,"visibility":10000,"wind_speed":2.17,"wind_deg":222,"wind_gust":2.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1642388400,"temp":267.46,"feels_like":264.35,"pressure":1034,"humidity":50,"dew_point":259.63,"uvi":0.92,"clouds":67,"visibility":10000,"wind_speed":1.82,"wind_deg":209,"wind_gust":2.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1642392000,"temp":267.66,"feels_like":264.06,"pressure":1034,"humidity":49,"dew_point":259.6,"uvi":1.26,"clouds":69,"visibility":10000,"wind_speed":2.17,"wind_deg":222,"wind_gust":2.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1642395600,"temp":267.85,"feels_like":264.04,"pressure":1034,"humidity":48,"dew_point":259.55,"uvi":1.41,"clouds":70,"visibility":10000,"wind_speed":2.35,"wind_deg":219,"wind_gust":2.93,"weather":[{"id[...]
