---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=433f11392883373ef8839e0e48152d50&exclude=minutely&lat=39.74&lon=105.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":105,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1642453570,"sunrise":1642465086,"sunset":1642500122,"temp":266.97,"feels_like":262.08,"pressure":1027,"humidity":48,"dew_point":258.72,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.14,"wind_deg":263,"wind_gust":3.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1642453200,"temp":266.97,"feels_like":262.08,"pressure":1027,"humidity":48,"dew_point":258.72,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.14,"wind_deg":263,"wind_gust":3.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642456800,"temp":266.98,"feels_like":262.16,"pressure":1027,"humidity":47,"dew_point":258.51,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.07,"wind_deg":270,"wind_gust":3.04,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642460400,"temp":267.02,"feels_like":261.93,"pressure":1027,"humidity":47,"dew_point":258.54,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.35,"wind_deg":273,"wind_gust":3.26,"weather":[{"id":800,"main"[...]
